@import 'tailwindcss';

@import './base.css';
@import './utilities.css';

@theme {
  --color-black: oklch(0.0989 0.0082 284.8);
  --color-black-50: oklch(0.1728 0.0082 284.8);
  --color-brand-orange: oklch(0.787 0.1373 50.56);
  --color-brand-slate-400: oklch(0.6624 0.0461 270.63);
  --color-brand-slate-300: oklch(0.766 0.0458 271.2);
  --color-brand-slate-200: oklch(0.8786 0.0455 271.71);
  --color-brand-slate-100: oklch(0.927 0.0347 265.99);
  --color-brand-teal: oklch(0.7237 0.1264 215.05);

  --font-sans: 'Jost', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.router-link-exact-active {
  @apply text-brand-teal after:left-0 after:w-full after:bg-brand-teal hover:after:w-full;
}
